@import './colors.scss';
.sign-in, .sign-up {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:35vh;
    height: 95vh;
    margin-left: 77%;
    margin-bottom: 20%;
}

.bg {
    position:fixed;
    z-index: -1;
    top:8%;
    left:1%; 
    max-width:75%;
    max-height:100%;
}

.bgu {
    position:fixed;
    z-index: -1;
    top:5%;
    left:1%; 
    

    max-width:75%;
    max-height:90%;

}

.btn  {
   background-color:$black-color ;
}